<div class='row'>
	<% Gossip.all.each do |gossip| %>
		<div class="card col-4" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Gossip number <%=gossip.id%></h5>
		    <p class="card-text"><em>By <%= gossip.author.first_name %></em></p>
		    <p class="card-text"><%= gossip.content %></p>
		    <a class="btn btn-primary" <%= link_to 'Go to the Gossip!', "#{gossip.id}" %></a>
		  </div>
		</div>
	<% end %>
 </div>
